@import "src/styles/colors.scss";

.chatMessageBuyer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  word-break: break-word;

  img {
    min-width: 36px;
    height: 36px;
    margin-top: 6px;
    border-radius: 50%;
    border: 1px solid $grey_light2;
  }

  .message {
    position: relative;
    min-height: 22px;
    flex-grow: 1;
    margin: 0 60px 20px 10px;
    padding: 14px 6px 14px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    background-color: #ffffff;
  }

  .message::after {
    position: absolute;
    left: -6px;
    top: 20px;
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid $grey_light;
  }

  .msgTime {
    position: absolute;
    bottom: 8px;
    left: 46px;
    color: $grey_extra_light;
    font-size: 9px;
  }
}