$black_solid: #000;

$white_solid: #fff;

$red_extra_light: #fcebeb;
$grey_extra_light: #bdbaba;

$red_dark: #cf2e33;
$grey_dark: #221F20;
$blue_dark: #1780c1;

$red_banner: #e73339;
$red_basic: #e73439;
$grey_basic: #656565;
$blue_basic: #1da1f2;

$grey_light: #d2d2d2;
$grey_light2: #ececec;
$grey_light3: #e5e5e5;
$red_light: #f08588;
$blue_light: #77c6f7;

$orange_basic: #ff9c00;

$green_basic: #1bb343;
$green_basic2: #23b549;
$green_light_basic3: #36f167;

$chrome_outline: #4D90FE;

// color that are use only in single quantity
$red_light_single: #f5aeb0;
$dark-yellow: #e68b00;
$red_basic_single: #dd3e42;
$soft_pink: #fef4f4;
$blue_semi-light: #65bbf3;
$blue_white_light: #e8f5fd;
$grey_extra-lighter: #f2f2f2;



$black-linear-gradient: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.1));
$grey-linear-gradient: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65) 64%)
